/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.master,
header,
section,
footer,
figure,
h1,h2,h3,h4,h5,h6{
    position: relative;
}
a:hover, 
a:focus {
    text-decoration: none;
}

section{
    padding: 100px 0;
}

figure img{
    width: 100%;
}
.ratio{
    width: 100%;
    height: 0;
    position: relative;
}
.ratio-16{
    padding-top: 56.25%;
}
.ratio-1{
    padding-top: 100%;
}
.ratio-75{
    padding-top: 75%;
}
.ratio-135{
    padding-top: 135%;
}
.ratio img,
.ratio iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;
}
.btn{
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
}
.btn.btn-icon i {
    margin-left: 5px;
    font-size: 15px;
}
.btn.btn-primary {
    background-color: #5956E9;
    border-color: #5956E9;
    color: #ffffff;
    padding: 15px 30px;
}
.btn.btn-primary:hover, 
.btn.btn-primary:focus {
    color: #ffffff;
    background-color: #4240bd;
    border-color: #4240bd;
}
.btn.btn-secondary {
    background-color: #1E266D;
    border-color: #1E266D;
    color: #ffffff;
    padding: 15px 30px;
}
.btn.btn-secondary:hover, 
.btn.btn-secondary:focus {
    color: #ffffff;
    background-color: #181d5a;
    border-color: #181d5a;
}
.btn.btn-outline-white {
    color: #ffffff;
    border: 1px solid #ffffff;
}
.btn.btn-outline {
    border: 1px solid #5956E9;
    color: #5956E9;
    font-weight: 700;
    display: table;
}
.btn.btn-outline:hover {
    background-color: #5956E9;
    color: #fff;
}
/* --- HEADER --- */
header {
    padding: 10px 15px;
}
header .logo img {
    max-width: 120px;
}
header .main-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
}
header .main-menu li {
    padding: 0 15px;
}
header .main-menu li a {
    display: block;
    padding: 0 3px;
    line-height: 1.2em;
    color: #182560;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid transparent;
}
header .main-menu li a:hover,
header .main-menu li.active a {
    color: #5956E9;
    border-bottom: 1px solid #5956E9;
}
header .burger-bt {
    font-size: 25px;
    color: #182560;
    float: right;
    padding: 0 15px;
    display: none;
}
/* --- END:: HEADER --- */
/* --- HERO SECTION --- */
section.hero {
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}
section.hero .hero-text h1 {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 20px;
}
section.hero .hero-play {
    width: 60px;
    margin-bottom: 20px;
}
section.hero .hero-text p {
    font-size: 18px;
    line-height: 1.8em;
    color: #ffffff;
    margin-bottom: 20px;
}
section.hero .hero-img {
    max-width: 85%;
    width: 100%;
    display: table;
    margin-left: auto;
}
/* --- END:: HERO SECTION --- */
/* --- SECTION --- */
section.section-gray {
    background-color: #FAFAFC;
}
section.section-navy {
    background-color: #1E266E;
    padding: 60px 0;
}
section p {
    font-size: 18px;
    color: #808080;
    line-height: 1.8em;
    margin-bottom: 20px;
}
section .section-title {
    margin-bottom: 30px;
}
section .section-title.section-title-center {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    display: table;
    margin-bottom: 50px;
}
section .section-title h4 {
    color: #5956E9;
    position: relative;
    font-size: 18px;
    padding: 5px 45px;
    display: table;
    width: auto;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 20px;
}
section .section-title h4::after,
section .section-title h4::before {
    position: absolute;
    height: 2px;
    background-color: #5956E9;
    width: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
}
section.section-navy .section-title h4,
section.section-navy .section-title h3 {
    color: #ffffff;
}
section.section-navy .section-title h4::after,
section.section-navy .section-title h4::before {
    background-color: #ffffff;
}
section .section-title h4::before {
    left: auto;
    right: 0;
}
section .section-title h4.line-left {
    margin: 0;
    margin-bottom: 20px;
}
section .section-title h4.line-left::before {
    display: none;
}
section .section-title h3 {
    font-size: 50px;
    color: #191919;
    font-weight: 700;
    margin-bottom: 20px;
}
section .highlight-text {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #5956E9;
}
section.tentang .img-tentang-kami {
    max-width: 90%;
    width: 100%;
}
section.tentang .tentang-kami-card {
    margin-top: 40px;
}
section .outline-card {
    padding: 40px 50px;
    border: 1px solid rgba(88, 86, 233, 0.2);
    border-radius: 5px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
section .outline-card:hover {
    background-color: #fff;
    border-color: transparent;
    -webkit-box-shadow: 0px 10px 60px 0px rgba(89, 86, 233, 0.1);
    box-shadow: 0px 10px 60px 0px rgba(89, 86, 233, 0.1);
}
section.tentang .outline-card {
    height: 190px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
section .outline-card img {
    margin-bottom: 15px;
}
section .outline-card h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}
section .outline-card h5 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
}
section .outline-card ul {
    margin-bottom: 15px;
}
section .outline-card ul li {
    position: relative;
    line-height: 1.8em;
    color: #808080;
    font-size: 18px;
    margin-bottom: 10px;
}
section .outline-card ul li i {
    margin-right: 10px;
}
section .outline-card:hover ul li {
    color: #191919;
}
section .text-link {
    font-size: 18px;
    color: #5956E9;
    display: table;
    font-weight: 700;
    text-decoration: underline;
}
section .text-link i {
    margin-left: 5px;
}
section .text-link:hover {
    color: #4240bd;
}
section.pendekatan .img-pendekatan {
    position: relative;
    padding-left: 30px;
}
section.pendekatan .img-pendekatan .main-img {
    position: relative;
    z-index: 2;
    max-width: 420px;
    width: 100%;
}
section.pendekatan .img-pendekatan .vector {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -70px;
    z-index: 0;
}

section .shadow-card {
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 60px 0px rgba(76, 76, 76, 0.1);
    box-shadow: 0px 10px 60px 0px rgba(76, 76, 76, 0.1);
    padding: 50px 35px;
    position: relative;
    height: 100%;
    z-index: 1;
}
section .shadow-card:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #e9e056;
    -webkit-filter: blur(57.5px);
            filter: blur(57.5px);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
section .shadow-card:hover:after {
    visibility: visible;
    opacity: 1;
}
section .shadow-card h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}
section .shadow-card img {
    margin-bottom: 30px;
}
section .gallery-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
section .gallery-filter a {
    display: inline-flex;
    font-size: 18px;
    color: #191919;
    font-weight: 700;
    padding: 5px 15px;
    margin: 0 3px;
    border-radius: 5px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
section .gallery-filter a:hover, 
section .gallery-filter a.active {
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(89, 86, 233, 0.2);
    box-shadow: 0px 10px 30px 0px rgba(89, 86, 233, 0.2);
}
section .gallery-content img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 350px;
    border-radius: 5px;
    margin-bottom: 20px;
}
section .news-card {
    -webkit-box-shadow: 0px 10px 60px 0px rgba(89, 86, 233, 0.1);
    box-shadow: 0px 10px 60px 0px rgba(89, 86, 233, 0.1);
    border-color: transparent;
    margin: 0 5px;
    border-radius: 10px;
}
section .img-block {
    display: block;
    position: relative;
}
section .img-block img {
    max-width: 100%;
    width: 100%;
}
section .news-card .img-block img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
section .news-card .img-block .btn {
    padding: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -25px;
    right: 25px;
    border: none;
}
section .news-card .text {
    padding: 0 30px;
    padding-top: 40px;
    padding-bottom: 15px;
    background-color: #ffffff;
}
section .news-card .text h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 10px;
}
section .news-card .text h3 a {
    display: block;
    color: #191919;
}
section .news-card .meta-info {
    border-top: 1px solid rgba(88, 86, 233, 0.2);
    color: #E2E2FB;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 0;
    font-size: 16px;
}
section .news-card .meta-info i {
    color: #5956E9;
    margin-right: 5px;
}
section .news-card .meta-info div {
    color: #808080;
}
section.banner {
    padding: 70px 0;
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    background-position: center;
}
section.banner img {
    display: table;
    margin-left: auto;
}
/* --- END:: SECTION --- */

/* --- FOOTER --- */
footer .footer-top{
    padding: 40px 0;
}
footer .foot-logo img {
    max-width: 220px;
}
footer .foot-card {
    display: flex;
    align-items: flex-start;
    column-gap: 15px;
}
footer .foot-card img {
    width: 40px;
    height: auto;
}
footer .foot-card h6 {
    color: #808080;
    font-size: 16px;
}
footer .foot-card p {
    color: #191919;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    line-height: 1.5em;
}
footer .footer-cr {
    color: #808080;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-size: 16px;
}
/* --- END:: FOOTER --- */

/* --- RESPONSIVE --- */
/* tablet */
@media (max-width: 1024px) and (min-width: 768px) {
   
}
@media (max-width: 1024px) {
    section.hero .hero-text h1 {
        font-size: 40px;
    }
    section .section-title h3 {
        font-size: 35px;
    }
    section.tentang .tentang-kami-card {
        margin-top: 25px;
    }
    section.tentang .outline-card {
        height: auto;
        padding: 15px;
    }
    section.tentang .tentang-kami-card h5 {
        font-size: 16px;
    }
}
/* --- END:: RESPONSIVE --- */
